<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
id="WebApp_ID" version="3.1">
<!-- 
	init.ConfigServlet을 프로그램 가동시에 작동하게 설정
	(참고# 기본 설정은 요청시에 생성이 된다.)	
-->
	<servlet>
		<servlet-name>config</servlet-name>
		<servlet-class>init.ConfigServlet</servlet-class>
		<load-on-startup> 1 </load-on-startup>
		<!-- 
			load on startup으로 순서를 잡아주지 않거나 -1로 설정할경우
			서버 작동시 실행이 안될 수 있다.
		 -->
	</servlet>

</web-app>
